.product-section {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-size: 24;
        font-weight: 700;
        color: #7f7f7f;
        margin-bottom: 0;
    }
    .container-products {
        display: flex;
        justify-content: center;
        gap: 20px;
        max-width: 1280px;
        margin: 0 auto;
        flex-wrap: wrap;

        img{
            width: 280px;
            height: 280px;
            cursor: pointer;
        }

        .product {
            .discount{
                position: relative;
                top: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 73px;
                height: 32px;
                background-color: #8158c5;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                z-index: 20;
            }
            width: 100%;
            max-width: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                border: none;
                height: 42px;
                width: 144px;
                background-color: #ffa200;
                color: #fff;
                visibility: hidden;
                &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
            &:hover{
                img{
                    filter: brightness(50%);
                }

                button{
                    visibility: visible;
                    position: relative;
                    top: 50%;
                    left: 30%;
                    z-index: 20;
                }
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
                color: #a9a9a9;
            }

            .prices {
                display: flex;
                .price {   
                    color: #7f7f7f;  
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;
                    text-decoration: line-through;
                    margin-right: 10px;
                }
                
                .net-price {     
                    color: #a9a9a9;
                    font-weight: 300;
                    margin: 0;
                }
            }
        }
    }
    
}  
    @media (max-width: 768px) {

    .product-section {
        .container-products {
            align-items: center;
            flex-direction: column;
        }
    }

}